<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <div class="main">
        <section class="container">

Lorem ipsum dolor sit amet consectetur adipisicing elit. Voluptatum officia quas magnam voluptatem minus, natus suscipit minima eligendi ut? Natus odit, minima libero praesentium quam porro voluptate fuga error magnam voluptatem perferendis reprehenderit a doloribus saepe soluta, voluptates impedit alias rem totam sunt corporis sed voluptatum? Suscipit quasi laborum, sunt optio assumenda numquam sapiente libero? Accusamus aliquam adipisci maiores itaque.
<p (click)="previousRoute()">about works!</p>

</section>
    </div>
</body>
</html>




