<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    
    <div class="main">
    <section class="container">

        
        <h1> <span> Angular Project</span> </h1>
        
    </section>
        
        <table style="border: 2px solid red">
            <tr>
                <th *ngFor="let column of headers">
                    
                    {{column}}
                    
                    
                </th>
            </tr>
            <tr *ngFor="let row of rows">
                <td>{{row.Id}}</td>
                <td>{{row.Name}}</td>
                <td>{{row.Age}}</td>
                <td>{{row.Gender}}</td>
                <td> {{row.Country}} </td>
            </tr>
        </table>
        
</div>
    
</body>
</html>



