*{
    margin-left: 90px;
    margin-top: 0px;
}


table,th,td{
    border: 2px solid black;
}
table{
    width: 70%;
    margin-top: 40px;

}
section{
    display: inline-block;
    margin-top: 105px;
}
h1 span{
    display: inline-block;
    color: rgb(132, 13, 143);
    background-color: rgb(89, 153, 182);
    font-weight:bold;
}
